@media (max-width: 340px) {
    .result_container {
        margin: 10px 0px 5px 20px;
    }

    .continue_button {
        width: 230px;
    }
}

@media (max-width: 375px) {
    body {
        align-items: start;
        width: 375px;
        overflow: hidden;
    }
    
    main {
        flex-flow: row wrap;
        background: #ebf1ff;
        width: 100vw;
        height: 90vh;
        box-shadow: 0px 0px 0px #eee;
        border-radius: 35px;
    }

    .left_container {
        margin-top: -10px;
        width: 100vw;
        height: 350px;
        border-radius: 0px 0px 35px 35px;    
    }
    
    .right_container {
        width: 100vw;
        height: 350px;
        border-radius: 0px;
    }

    .result_circle {
        width: 150px;
        height: 150px;
        margin: 0px 0px -15px 0px;
    }

    .continue_button {
        margin: 0px 0px 0px 40px;
    }

    h2 {
        color: #fff;
        margin-bottom: 3px;    
    }

    .scored {
        width: 300px;
    }

    .summary {
        margin: 0px 0px -5px 40px;
    }
}